<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DcareAppCtx"
        android:allowBackup="true"
        android:icon="@mipmap/icons"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icons"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LocationTracker"></activity>

        <receiver
            android:name=".MyAlarmReceiver2"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".PatientSpecificInfo2" />
        <activity
            android:name=".patientHealth"
            android:label="@string/title_activity_patient_health"
            android:parentActivityName=".userlogin"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.userlogin" />
        </activity>

        <service
            android:name=".RestFetcher"
            android:exported="false" />
        <!--
receiver
            android:name=".MyAlarmReceiver"
            android:process=":remote"></receiver
        -->
        <activity android:name=".AddReminderActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".userlogin" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/shape" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.AlarmReminderProvider"
            android:authorities="com.myapplication.alarmreminder"
            android:exported="false" />

        <service
            android:name=".reminder.ReminderAlarmService"
            android:authorities="com.myapplication.alarmreminder"
            android:exported="false" />
    </application>

</manifest>